<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-center">
  <span class="d-flex w-50 mr-auto">
    <a href="/"><img src="./Logo.png" width="32px" height="32px" class="mr-2"></a>
    <a class="navbar-brand" href="/">The Forum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </span>

  <div class="navbar-collapse collapse w-100">
    <form action="/post/search" method="get" class="navbar-nav w-100 justify-content-center my-2 my-lg-0">
      <input class="form-control mr-sm-2" id ="inputSearch" type="text" name="searchTerm" placeholder="Search..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" id="searchbtn" type="submit">
        <i class="material-icons md-18">search</i>
      </button>
    </form>

    <div class="nav navbar-nav ml-auto w-100 justify-content-end">
      <div class="dropdown mr-2 ml-2">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          {{uname}}
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
          <a href="/user" style="color: #000;">
            <button class="dropdown-item" type="button">
              View Profile
            </button>
          </a>
          <button class="dropdown-item" type="button">
            <form action="logout" class="form-inline my-2 my-lg-0" method="post">
              <button type="submit" class="dropdown-item">Logout</button>
            </form>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
  {{> scriptResources}}
<script>

  $(document).ready(function(){

    //  $("#searchbtn").on("click", function(evt){
      //         evt.preventDefault();

      //  var keyword = $('#inputSearch').val();
       //   console.log("searchbtn clicked")
        //      window.location.href = "post/search/"+ keyword;
              
    //    });
  })

</script>
