<!doctype html>
<html lang="en">

<head>
  {{> headerResources}}
  <title>The Forum</title>
</head>

<body>
  {{#if uname}} {{> signedNavBar}} {{else}} {{> unsignedNavBar}} {{/if}}
  <main role="main" class="container">
    <div class="starter-template ">
      <h1>Site Map</h1>
      <ul class="list-group list-group-flush">

        <li class="list-group-item">
          <a href="/">Home</li>
        <li class="list-group-item">
          <a href="/user-profile">User Profile</li>
        <li class="list-group-item">
          <a href="/signin">Login</li>
        <li class="list-group-item">
          <a href="/register">Register</li>
        <li class="list-group-item">
          <a href="/newpost">Create Post</li>
        <li class="list-group-item">
          <a href="/editpost">Edit Post</li>
        <li class="list-group-item">
          <a href="/post">View Post</li>
      </ul>
    </div>
  </main>


</body>

</html>