<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./stylesheets/main.css" rel="stylesheet">
  <style type="text/css">
	  .comment-container{
	  	margin-bottom:10px;
	  }
  </style>
  <title>The Forum</title>
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="">The Forum</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="user-profile">User Profile
			<span class="sr-only">(current)</span>
		  </a>
        </li>
        <!--
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
       	<input class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search">
       	<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        	<i class="material-icons md-18">search</i>
       	</button>
      	</form>
		<a class="nav-link" href="user-profile">Signed in as {{uname}}</a>
		<form action="logout" class="form-inline my-2 my-lg-0" method="post">
			<button type="submit" class="btn btn-warning">Logout</button>
		</form>	
    </div>
  </nav>

  <main role="main" class="container">
    <div class="row starter-template">
      <div class="col-lg-3">
        <div class="text-center mb-3 mt-5">
          <img class="avatar img-thumbnail" src="./josh.jpg">
        </div>
        <div class="font-weight-bold">{{userHandle}}</div>
        <div class="description">{{userBioData}}</div>
      </div>

      <div class="col-lg-9">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active h3" id="user-posts-tab" data-toggle="pill" href="#user-posts" role="tab" aria-controls="user-posts"
              aria-selected="true">Posts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link h3" id="user-comments-tab" data-toggle="pill" href="#user-comments" role="tab" aria-controls="user-comments"
              aria-selected="false">Comments</a>
          </li>
        </ul>

        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade show active" id="user-posts" role="tabpanel" aria-labelledby="user-posts-tab">
            <ul class="list-unstyled">
              <li class="media post">
                <div class="mr-3 actions">
                  <i id="upvote" class="material-icons md-18 md-dark">arrow_upward</i>
                  <span class="votes">6</span>
                  <i id="downvote" class="material-icons md-18 md-dark">arrow_downward</i>
                </div>
                <div class="media-body">
                  <span class = "deletePost"><i class = "material-icons md-18 md-dark delete">delete</i></span>
                 <a href = "editpost">
                      <span class = "editPost"><i class = "material-icons md-18 md-dark delete">edit</i></span>
                  </a>
                  <h5 class="mt-0 mb-1">If life was a video game, what tips would appear on the loading screen?</h5>
                  <p>Unpacked now declared put you confined daughter improved. Celebrated imprudence few interested especially reasonable
                    off one. Wonder bed elinor family secure met. It want gave west into high no in. Depend repair met before
                    man admire see and. An he observe be it covered delight hastily message. Margaret no ladyship endeavor ye
                    to settling. He as compliment unreserved projecting. Between had observe pretend delight for believe. Do
                    newspaper questions consulted sweetness do. Our sportsman his unwilling fulfilled departure law. Now world
                    own total saved above her cause table.
                  </p>
                </div>
              </li>

              <li class="media post">
                <div class="mr-3 actions">
                  <i class="material-icons md-18 md-dark">arrow_upward</i>
                  <span class="votes">19</span>
                  <i class="material-icons md-18 md-dark">arrow_downward</i>
                </div>
                <div class="media-body">
                  <span class = "deletePost"><i class = "material-icons md-18 md-dark delete">delete</i></span>
                   <a href = "editpost">
                      <span class = "editPost"><i class = "material-icons md-18 md-dark delete">edit</i></span>
                  </a>
                  <h5 class="mt-0 mb-1">Post Title</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                  congue felis in faucibus.
                </div>
              </li>

              <li class="media post">
                <div class="mr-3 actions">
                  <i class="material-icons md-18 md-dark">arrow_upward</i>
                  <span class="votes">2</span>
                  <i class="material-icons md-18 md-dark">arrow_downward</i>
                </div>
                <div class="media-body">

                  <span class = "deletePost"><i class = "material-icons md-18 md-dark delete">delete</i></span>
                   <a href = "editpost">
                      <span class = "editPost"><i class = "material-icons md-18 md-dark delete">edit</i></span>
                  </a>
                  <h5 class="mt-0 mb-1">Post Title</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in
                  vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia
                  congue felis in faucibus.
                </div>

              </li>
             </ul>
            <div id="loadMorePosts" class="btn btn-outline-primary">See more posts</div>
          </div>
          <div class="tab-pane fade" id="user-comments" role="tabpanel" aria-labelledby="user-comments-tab">
            <ul class="list-unstyled">
			  <li class="comment-container">
				<div class="media comment ml-3">
				  <div class="mr-3 commentactions">
					<i class="material-icons md-18 md-dark up">arrow_upward</i>
					<i class="material-icons md-18 md-dark down">arrow_downward</i>
				  </div>
				  <div class="media-body">
					<div class="d-flex">
					  <h6 class="mt-0">
						<b>Kansei_Drift</b>
					  </h6>
					  <span class="ml-2 points">12 points</span>
					  <span class="ml-2">·</span>
					  <span class="ml-2 points">07/01/18 22:50</span>
					</div>
					Falling may cause long term damages. Tread with caution!
			  </li>

			  <li class="comment-container">
				<div class="media comment ml-3">
				  <div class="mr-3 commentactions">
					<i class="material-icons md-18 md-dark up">arrow_upward</i>
					<i class="material-icons md-18 md-dark down">arrow_downward</i>
				  </div>
				  <div class="media-body">
					<div class="d-flex">
					  <h6 class="mt-0">
						<b>Kansei_Drift</b>
					  </h6>
					  <span class="ml-2 points">12 points</span>
					  <span class="ml-2">·</span>
					  <span class="ml-2 points">07/01/18 22:50</span>
					</div>
					Falling may cause long term damages. Tread with caution!
			  </li>

			  <li class="comment-container">
				<div class="media comment ml-3">
				  <div class="mr-3 commentactions">
					<i class="material-icons md-18 md-dark up">arrow_upward</i>
					<i class="material-icons md-18 md-dark down">arrow_downward</i>
				  </div>
				  <div class="media-body">
					<div class="d-flex">
					  <h6 class="mt-0">
						<b>Kansei_Drift</b>
					  </h6>
					  <span class="ml-2 points">12 points</span>
					  <span class="ml-2">·</span>
					  <span class="ml-2 points">07/01/18 22:50</span>
					</div>
					Falling may cause long term damages. Tread with caution!
			  </li>
					
              <div id="loadMoreComments" class="btn btn-outline-primary">See more comments</div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- /.container -->

  <!-- Bootstrap core JavaScript
        ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {

      function addPost(){
        var mediaPost = document.createElement("div");
        mediaPost.className = "media post";
        var flexRow = document.createElement("div");
        flexRow.className = "d-flex flex-row";
        var flexColumn = document.createElement("div");
        flexColumn.className = "media-body d-flex flex-column";
        var voteBox = document.createElement("div");
        voteBox.className = "mr-3 actions flex-column";
        var arrowUpward = document.createElement("i");
        arrowUpward.className = "material-icons md-18 md-dark up";
        arrowUpward.innerHTML = "arrow_upward";
        var voteValue = document.createElement("span");
        voteValue.innerHTML = "99";

        var arrowDownward = document.createElement("i");
        arrowDownward.className = "material-icons md-18 md-dark down";
        arrowDownward.innerHTML = "arrow_downward";
       
        var postTitle = document.createElement("h5");
        postTitle.className = "mt-0 mb-1";
        postTitle.innerHTML = "Post Title";

        var postContent = document.createElement("div");
        postContent.innerHTML =
          "Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in";
        
        var deleteIcon = document.createElement("i");
        deleteIcon.className = "material-icons md-18 md-dark delete"
        deleteIcon.innerHTML = "delete";

        var edit = document.createElement("i");
        edit.className = "material-icons md-18 md-dark delete"
        edit.innerHTML = "edit";

        var editspan = document.createElement("span");

        var edita = document.createElement("a");
        edita.href = "editpost";

        editspan.append(edit);
        edita.append(editspan);


        var postInfo = document.createElement("div");
        postInfo.className = "p-1 flex-fill";
        var spanInfo = document.createElement("span");
        spanInfo.className = "info";
  
        voteBox.append(arrowUpward);
        voteBox.append(voteValue);
        voteBox.append(arrowDownward);
        flexRow.append(voteBox);
        flexColumn.append(postTitle);
        postTitle.append(deleteIcon);
        postTitle.append(edita);
        flexColumn.append(postContent);
        postInfo.append(spanInfo);
        flexColumn.append(postInfo);
        flexRow.append(flexColumn);
        mediaPost.append(flexRow);

        $(".list-unstyled").append(mediaPost);
      }


      $("#loadMorePosts").click(function(){
        
       
        let i;
        for (i = 0; i < 5; i++) {
          addPost();
           console.log("im here");
        }

      });



    });
  </script>

</body>

</html>